<!-- <p>todo works!</p> -->
<div class="mb-4 mx-4">
    <h5 [ngClass]="{'strike': !todo.active}">{{todo.title}}</h5>
<p [ngClass]="{'strike': !todo.active}">{{todo.desc}}</p>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1{{i}}"
    (click)="onCheckBoxClick(todo)" [checked]="!todo.active"
    >
    <label class="form-check-label" for="exampleCheck1{{i}}"> Done</label>
  </div>
<button (click)="onClick(todo)"   class="btn btn-sm btn-danger">Delete</button>
</div>
<!-- <button class="btn  btn-info">Edit</button> -->